---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/baseLayout.astro";

const blogEntries = await getCollection("blog");
---

<BaseLayout title="blog">
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <h2 class="text-xl">{blogPostEntry.data.title}</h2>
          <time
            class="text-sm post-date"
            datetime={blogPostEntry.data.publishedDate.toISOString()}
          >
            {blogPostEntry.data.publishedDate.toLocaleDateString("default", {
              day: "2-digit",
              month: "short",
              year: "numeric",
            })}
          </time>
          <p>{blogPostEntry.data.firstParagraph}</p>
          <a href={`/blog/${blogPostEntry.slug}`}>Read more..</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    list-style-type: none;
    padding: 0;

    a {
      padding-block: 0.25rem;

      text-decoration: underline;
      color: inherit;

      &:first-child {
        padding-left: 0;
      }
      &:hover {
        color: var(--nav-hover-color);
      }
    }
  }

  h2 {
    color: var(--prose-heading-color);
  }

  .post-title {
    margin: 0 0 0.25rem 0;
  }
  .post-date {
    color: var(--company-position-color);
  }

  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
</style>
