---
import Header from "@components/Header.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Andrei Pop</title>
  </head>
  <body class="flex flex-col">
    <div class="main">
      <Header />
      <h1 class="text-black">{title}</h1>
      <section id="content">
        <slot />
      </section>
    </div>
  </body>
</html>

<style>
  :root {
    --nav-hover-color: rgb(38 38 38);
    --headers-text-color: rgb(0 0 0/1);
    --prose-heading-color: #171717;
    --prose-body-color: #404040;
    --prose-links-color: #171717;
    --prose-links-underline-color: #a3a3a3;
  }

  html {
    line-height: 1.5;
    min-width: 360px;
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
  body {
    margin: 2rem 1rem 10rem;
    max-width: 42rem;

    .main {
      margin-top: 1.5rem;
      padding-inline: 0.5rem;
    }
  }

  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .text-neutral-600 {
    color: rgb(82 82 82/1);
  }

  .flex {
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }

  .text-black: {
    color: var(--headers-text-color);
  }

  @media (min-width: 768px) {
    body {
      .main {
        padding-inline: 0;
      }
    }
  }

  @media (min-width: 1024px) {
    body {
      margin-inline: auto;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --nav-hover-color: rgb(229 229 229);
      --headers-text-color: rgb(255 255 255/1);
      --prose-heading-color: #fff;
      --prose-body-color: #d4d4d4;
      --prose-links-color: #fff;
      --prose-links-underline-color: #525252;
    }

    html {
      color-scheme: dark;
    }
  }
</style>
